.profile__edit-button {
    padding-left: 20px;
    max-width: 24px;
    max-height: 24px;
    align-self: center;
    transform: translateY(-10px);
    grid-area: name;
}


@media screen and (max-width: 644px) and (min-width: 320px) {
    .profile__edit-button {
        padding-left: 10px;
        max-width: 18px;
        max-height: 18px;
        transform: translateY(0);
    }
}

.profile__edit-button:hover {
    opacity: .7;
    transition: opacity .3s linear;
}