.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 520px) {
    .popup__container  {
      max-width: 282px;
      min-height: 322px;
    }
  }