.cards__remove {
    background-image: url("../../../images/remove.svg");
    position: absolute;
    align-self: flex-end;
    padding: 20px 20px 0 0;
    margin: 20px 20px 0 0;
    border: 0;
    background-color: transparent;
}