.popup__button {
    background: #000;
    align-items: center;
    border: 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 48px;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 0.8;
    transition: opacity .3s ease-out;
}


@media screen and (max-width: 644px) and (min-width: 320px) {
    .popup__button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

