.header__logo {
    margin-bottom: 40px;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 644px) and (min-width: 320px) {
    .header__logo {
        margin-left: 50px;
        margin-bottom: 31.6px;
        max-width: 103.74px;
        max-height: 24.4px;
    }
}