.popup__close {
    position: absolute;
    padding: 0;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

@media screen and (max-width: 644px){
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0px;
    }
  }

  .popup__close:hover {
    opacity: .6;
    transition: opacity .3s linear;
  }